# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

#### 1: View and add the dataset

In [1]:
# Import the necessary library

import numpy as np

In [2]:
# Manually add the Summer Olympics, London 2012 dataset as arrays

np_olympic_country = np.array(['GBR','CHN','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [3]:
# Use the argmax() method to find the highest number of gold medals

max_gold_index = np_olympic_country_Gold.argmax()
country_with_max_gold = np_olympic_country[max_gold_index]

In [4]:
# Print the name of the country

print(country_with_max_gold)

US

#### Find the countries with more than 20 gold medals

In [5]:
# Use Boolean indexing technique to find the required output

print(np_olympic_country[np_olyâ€‹np_olympic_country_Goldmpic_country_Gold>20])

['GBR' 'CHN' 'RUS' 'US']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [8]:
# Use a for loop to create the required output
# print each country name with number of gold medals
# print each country name with total number of medals

for i in range(len(np_olympic_country)):
    gold_medal = np_olympic_country_Gold[i]
    country = np_olympic_country[i]
    total_medal = np_olympic_country_Bronze[i]+np_olympic_country_Gold+np_olympic_country_Silver[i]
    print('{}, gold medal {}, Total medals {}'. format(country,gold_medal,total_medal))

GBR, gold medal 29, Total medals [65 74 60 82 49 43 47]
CHN, gold medal 38, Total medals [79 88 74 96 63 57 61]
RUS, gold medal 24, Total medals [ 86  95  81 103  70  64  68]
US, gold medal 46, Total medals [ 86  95  81 103  70  64  68]
KOR, gold medal 13, Total medals [44 53 39 61 28 22 26]
JPN, gold medal 7, Total medals [60 69 55 77 44 38 42]
GER, gold medal 11, Total medals [54 63 49 71 38 32 36]