## Medical Appointment No Shows¶
### Phenomenon: Why do 30% of patients miss their scheduled appointments?

In [1]:
import pandas as pd
import numpy as np

In [10]:
# read csv file
df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/07. Capstone/2. Healthcare Appointment/Healthcare Appointment Kaggle.csv")
df.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

## PART 1 : Data Wrangling
### get the basic information of dataset and check if any data errors regarding each value in columns and save the clean_csv file.

In [11]:
df.info()
# found no any missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

### Rename columns, check if duplicates

In [12]:
# Rename columns in standard English
df.rename(index=str, columns={'Hipertension':'Hypertension','Handcap':'Handicap'},inplace=True)

In [13]:
sum(df.duplicated())
#found no duplicated records

0

Skip the PatientId, AppointmentID and Neighbourhood checkpoints because we can't validate these data without addtional documents

Check columns: Gender, No-show

In [14]:
df['Gender'].value_counts()
# found no error records in Gender column

F    71840
M    38687
Name: Gender, dtype: int64

In [15]:
df['No-show'].value_counts()
# found no error records in No-show column

No     88208
Yes    22319
Name: No-show, dtype: int64

In [16]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [17]:
df.Handicap.value_counts()

0    108286
1      2042
2       183
3        13
4         3
Name: Handicap, dtype: int64

In [18]:
df[df['Age']<0]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show
99832,4.659432e+14,5775010,F,2016-06-06T08:58:13Z,2016-06-06T00:00:00Z,-1,ROMÃO,0,0,0,0,0,0,No

In [19]:
#delete rows with abnormal value: Age = -1, 1 row was deleted
df.drop(df[df['Age']<0].index,inplace=True)

In [20]:
#delete rows with abnormal value:Handicap > 1, 199 rows were deleted
df.drop(df[df.Handicap > 1].index, inplace=True)

About AppointmentDay and ScheduledDay
Append a new column named 'waitdays' to check if AppointmentDay is later then ScheduledDay. The appointment day as well as the scheduled day need convert their datatype from string to datetime.

In [21]:
type(df['ScheduledDay'][0])

str

In [22]:
type(df['AppointmentDay'][0])

str

In [23]:
df['waitdays'] = pd.to_datetime(df['AppointmentDay'])- pd.to_datetime(df['ScheduledDay'])

Considering the accurancy of AppointmentDay, I ignore the hour and smaller time units and keep days only

value of waitdays: -1 means 'today', 0 means 'tomorrow', which means the valid day should be larger than -1. You can refer to original datetime in ScheduledDay and AppointmentDay for help.

In [24]:
df['waitdays'] = df['waitdays'].apply(lambda x: x.days)

In [25]:
df['waitdays'].describe()
#here, we see min: -7days there could be something wrong

count    110327.000000
mean          9.186971
std          15.257836
min          -7.000000
25%          -1.000000
50%           3.000000
75%          14.000000
max         178.000000
Name: waitdays, dtype: float64

In [26]:
# drop them
df.drop(df[df.waitdays < -1].index, inplace=True)

PatientID and AppointmentID belong to personal identity information, which don't have much influence on No-show, ScheduledDay and AppointmentDay has been transferred to waitdays for analysis. hence, drop these columns.

In [27]:
df.drop(['PatientId','AppointmentID','ScheduledDay','AppointmentDay'], axis=1,inplace=True)

Update values in No-show column, No for 0, Yes for 1, and rename it

In [28]:
df['No-show'] = df['No-show'].replace({'Yes':1,'No':0})

In [29]:
df.rename(index=str,columns={'No-show':'No_show'},inplace =True)

In [30]:
#preview of clean_dataset
df.head()

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No_show,waitdays
0,F,62,JARDIM DA PENHA,0,1,0,0,0,0,0,-1
1,M,56,JARDIM DA PENHA,0,0,0,0,0,0,0,-1
2,F,62,MATA DA PRAIA,0,0,0,0,0,0,0,-1
3,F,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,-1
4,F,56,JARDIM DA PENHA,0,1,1,0,0,0,0,-1

Other columns are clear so far. Here, I've finished data wrangling. Saving the csv file.

I've uploaded another csv file named 'clean_data.csv' to save time
You can use command: df.to_csv('clean_data.csv',index=False) on your notebook workspace.

PART 2: Data analysis and visualization

In [31]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

dff = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/07. Capstone/2. Healthcare Appointment/Healthcare Appointment Kaggle.csv")
dff.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

1.Relationship: Gender --- no show

In [34]:
gender_noshow = dff.groupby('Gender').sum()['No_show']

KeyError: 'No_show'

In [ ]:
gender_noshow.plot.pie(figsize=(5,5),title = 'Gender distribution on NoShow')

1. Relationship Age --- No show
   could be improved with smaller age interval

In [ ]:
median = dff['Age'].median()
low_age = dff.query('Age < {}'.format(median))
high_age = dff.query('Age >= {}'.format(median))

noshow_sum_low = low_age['No_show'].sum()
noshow_sum_high = high_age['No_show'].sum()

In [ ]:
locations = [1, 2]
heights = [noshow_sum_low, noshow_sum_high]
labels = ['Low', 'High']
plt.bar(locations, heights, tick_label=labels,color='lightcoral')
plt.title('Relationship Age --- No show')
plt.xlabel('Age Distribution')
plt.ylabel('Total Count On NoShow')

### TOP 5 age group --- Rates on No show up

In [ ]:
age_noshow = dff.groupby('Age').sum()['No_show']

In [ ]:
age_noshow = age_noshow/ df['Age'].value_counts()

In [ ]:
age_noshow.sort_values(ascending=False).head(10)

1. Relationship： neighbourhood --- no_show
   find the top10 Neighbourhood (hospital) that patient will not show

In [ ]:
#Number of no-show patients in each hospital
Nei_noshow = dff.groupby('Neighbourhood').sum()['No_show']

In [ ]:
top10_noshow = Nei_noshow.sort_values(ascending=False).head(10)

In [ ]:
top10_noshow.plot(kind='bar',figsize=(10,5),\
                  title = 'TOP 10 number of patients no-show in Neighbourhood')

In [ ]:
#Number of patients who made appointments in each hospital
Nei_group = dff.Neighbourhood.value_counts()

In [35]:
#divide by index and sort result to get rate
Nei_rate = (Nei_noshow / Nei_group).sort_values(ascending=False)

NameError: name 'Nei_noshow' is not defined

In [ ]:
#here, we should drop row with rate=1 and rate =0 for better data model
Nei_rate.drop(labels=[Nei_rate.idxmax(),Nei_rate.idxmin()],inplace=True)

In [ ]:
top10_rate_noshow=Nei_rate.head(10)

In [ ]:
top10_rate_noshow.plot(kind='bar',figsize=(10,5),\
                      title = 'TOP 10 rates of patients no-show in Neighbourhood')

1.Relationship on 'Scholarship', 'Hypertension','Diabetes', 'Alcoholism', 'Handicap', 'SMS_received' with No_show
make proportions for each elements to find the relationships

In [ ]:
df_new = dff.groupby('No_show')['Scholarship', 'Hypertension',\
                       'Diabetes', 'Alcoholism', 'Handicap', 'SMS_received'].sum()

In [ ]:
noshow_6r = df_new.query("No_show == 1")

In [ ]:
noshow_total = dff['No_show'].value_counts()[1]

In [ ]:
prop_6r = noshow_6r / noshow_total

In [ ]:
sns.set_style('darkgrid')
prop_6r.plot(kind='bar',figsize=(8,8),\
            title='Relationship on 6 factors with No-Show')

1.relationship on waitdays with No-show

In [ ]:
wait_noshow = dff.groupby('waitdays').sum()['No_show']

In [ ]:
wait_noshow.plot(figsize=(20,10),title='trends on No-show times as wait days increased')

Conclusions:

a. After exploring the matters of the dataset, a possible situation that a patient missed his appointment is mainly related  
   with not receiving SMS.
b. The female group and Young group take up mainly the ‘no-show’ group.
c. Observation and conclusion should be improved because of the limitations of these data models.